<div class="{{styles.woleet_proof-verifier-widget__wrapper}}">
    <div class="{{styles.woleet_proof-verifier-widget__wrapper-item}}"
         style="background-color: {{colors.primary-color}}"><span>WIDGET TYPE: {{type}}</span></div>
    <div class="{{styles.woleet_proof-verifier-widget__wrapper-item}}"
         style="background-color: {{colors.secondary-color}}"><span>WIDGET LANG: {{lang}}</span></div>
    <div class="{{styles.woleet_proof-verifier-widget__wrapper-item}}"
         style="background-color: {{colors.third-color}}"><span>WIDGET MODE: {{mode}}</span></div>
</div>
